@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

* {
  box-sizing: border-box;
  font-family: "baloo tamma 2", sans-serif;
  transition: all 0.4s ease-in-out;
  text-wrap: wrap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --main-color: #1c4d72;
  --hover-color: #c2e2c3;
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #1c4d72;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #c2e2c3;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: aliceblue;
  --foreground: oklch(0.145 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  background-color: var(--main-color);
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 20px;
}

/* section {
  display: absolute;
  background-color: white;
  width: 50%;
  margin: -10% auto 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset;
  padding: 20px;
  text-align: justify;
} */

section {
  @apply w-1/2 mx-auto bg-white mb-0 -mt-[10%] shadow rounded-md p-5;
}

.socials {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  align-items: center;
}

.socials a {
  width: 50px;
  color: var(--primary);
}

footer {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

footer h2 {
  text-align: center;
  margin: 0;
}

footer p {
  text-align: center;
  margin: 0;
}

@media (max-width: 900px) {
  section {
    width: 90%;
    margin: -30% auto 0 auto;
  }
}

@media (max-width: 800px) {
  section {
    width: 90%;
    margin: -30% auto 0 auto;
  }
}

@media (max-width: 700px) {
  section {
    width: 90%;
    margin: -40% auto 0 auto;
  }
}

@media (max-width: 600px) {
  section {
    width: 90%;
    margin: -40% auto 0 auto;
  }
}

@media (max-width: 500px) {
  section {
    width: 90%;
    margin: -60% auto 0 auto;
  }
}

.skill-cards {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.skill-card {
  background-color: var(--hover-color);
  border-radius: 5px;
}

.skill {
  background-color: #1c4d72;
  border-radius: 5px;
  color: white;
  padding: 5px;
  height: 100%;
}

.project-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.project-card {
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
  color: var(--hover-color);
  border-radius: 5px;
}

.project-card h2 {
  padding: 0px;
  margin: 0px;
}

.project-card .desc {
  color: white;
}

.project-card .link {
  color: white !important;
  padding: 10px;
  border: 1px solif white;
}
