@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

:root {
  --main-color: #1C4D72;
  --hover-color: #C2E2C3;
}

* {
  box-sizing: border-box;
  font-family: "baloo tamma 2", sans-serif;
  transition: all 0.4s ease-in-out;
}

body {
  width: 100%;
  margin: 0;
  background-color: aliceblue;
}

header {
  background-color: var(--main-color);
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 20px;
}

section {
  display: absolute;
  background-color: white;
  width: 50%;
  margin: -10% auto 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset;
  padding: 20px;
  text-align: justify;
}

.intro {
  display: flex;
  gap: 10px;
}

.socials {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  align-items: center;
}

.socials a {
  width: 50px;
}

footer {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

footer h2 {
  text-align: center;
  margin: 0;
}

footer p {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--main-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.imageHolder {
  flex: 1;
  padding: 10px;
}

.profilePic {
  border-radius: 10px;
  flex: 1;
  width: 100%;
  
}

.profileInfo {
  flex: 2;
  padding: 10px;
}

.profileInfo h1 {
  margin: 0;
}

.profileInfo span {
  margin: 0;
  font-size: small;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  outline: none;
  border: 1px solid var(--hover-color);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-color);
  color: aliceblue;
}

.btn:active {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  border-bottom: 5px solid var(--main-color);
}

.nav p {
  font-size: 25px;
  margin: 0;
}

.backBtn {
  cursor: pointer;
}

.pods {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.nav2 p {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  font-weight: bold;
}

.vnav {
  display: flex;
  flex-direction: column;
}

.vnav a {
  padding: 3px;
}

.event {
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
}

.event a, p {
  margin: 0;
}

.event a {
  font-size: large;
}

.event p {
  font-size: small;
}

.event button {
  background-color: var(--main-color);
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
}

.articles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article {
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
}

.articleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article p {
  font-size: smaller;
  font-style:oblique;
}

.articleData {
  padding: 10px;
}

.articleData span {
  font-size: small;
  margin: 10px auto;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: double;
}

.form-primary {
  width: 100%;
  padding: 20px;
}

.form-primary input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--main-color);
  outline: none;
  border-radius: 5px;
}

.form-primary input:focus {
  border: 2px solid var(--hover-color);
}

.badge {
  font-size: 10px;
  background-color: var(--hover-color);
  opacity: 0.9;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.error {
  text-align: center;
  color: red;
  padding: 10px;
}

.success {
  text-align: center;
  color: var(--hover-color);
  padding: 10px;
}

@media (max-width: 900px){
  section {
    width: 90%;
    margin: -30% auto 0 auto;
  }
}

@media (max-width: 800px){
  section {
    width: 90%;
    margin: -30% auto 0 auto;
  }
}

@media (max-width: 700px){
  section {
    width: 90%;
    margin: -40% auto 0 auto;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }

  .vnav {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 600px){
  section {
    width: 90%;
    margin: -40% auto 0 auto;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
  .vnav {
    display: flex;
    flex-direction: row;
  }
  
}

@media (max-width: 500px){
  section {
    width: 90%;
    margin: -60% auto 0 auto;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .vnav {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 500px){
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: #1C4D72;
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card:hover {
  background-color: #1C4D72;
  padding: 10px;
}

.card .blur {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  opacity: 0.6;
  border-radius: 5px;
}

.card .blur:hover {
  background-color: black;
}

.card h1 {
  padding: 5px;
  margin: 0;
  color:#C2E2C3;
}

.fullScreen {
  background-color: var(--main-color);
  opacity: 0.9;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.datas {
  z-index: 100;
  background-color: white;
  min-width: 50%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  overflow: scroll;
}

.text-sm {
  font-size: smaller;
  margin: 0;
  font-style: italic;
}

.data {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
}

.data-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.data-header h3 {
  margin: 0;
}

.data-list {
  margin: 0;
}

.skill-cards {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.skill-card {
  background-color: var(--hover-color);
  border-radius: 5px;
}

.project-cards {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.project-card {
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
  color: var(--hover-color);
  border-radius: 5px;
}

.project-card h2 {
  padding: 0px; margin: 0px;
}

.project-card .desc {
  color: white;
}

.project-card .link {
  color: white !important;
  padding: 10px;
  border: 1px solif white;
}